@import url('reset.css');
@import url('fonts.css');

body {
	background: #b4b4b4;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
}

.header {
	background-color: rgb(66, 64, 115);
	padding: 15px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}

.header__menu {
	display: inline-block;
	margin-right: 20px;
}

.header__link {
	font-size: 25px;
	display: inline-block;
}

[class*='__container'] {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 15px;
}

.menu__item {
	display: inline-block;
	color: #fff;
	position: relative;
}
.menu__link {
	background-color: green;
	display: inline-block;
	padding: 10px;
	border-radius: 10%;
}
.menu__link:hover {
	background-color: rgb(81, 171, 81);
}

.sub-menu {
	position: absolute;
	top: 100%;
	left: 0;
	color: black;
	padding-top: 5px;
	opacity: 0;
	visibility: hidden;
}
.sub-menu__item {
	background-color: greenyellow;
}
.menu__item:hover .sub-menu {
	visibility: visible;
	opacity: 1;
}

.last-menu {
	position: absolute;
	top: 5px;
	left: 100%;
	color: black;
	background-color: rgb(188, 249, 98);
	visibility: hidden;
	display: block;
	width: 100px;
	opacity: 0;
}
.last-menu:hover {
	background-color: rgb(139, 168, 95);
}

.sub-menu__item:hover .last-menu {
	visibility: visible;
	opacity: 1;
}

.page {
	margin-top: 60px;
}

.sticky {
	max-width: 500px;
	margin: 0 auto;
	border: 2px black solid;
	margin-bottom: 20px;
}
.sticky__title {
	background-color: #4daea3;
	color: blue;
	position: sticky;
	text-align: center;
	margin-bottom: 10px;
	left: 0;
	top: 10%;
}

.cards__item {
	position: relative;
	display: inline-block;
}

.cards__photo {
	width: 386px;
	height: 532px;
}

.cards__kelvin {
	position: relative;
}

.cards__info {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
	text-align: center;
	background-color: #fff;
	width: 341px;
	height: 114px;
	padding: 24px;
	margin: 396px 23px 22px 22px;
	line-height: 135.187%;
}

.cards__info-title {
	font-family: 'Poppins';
	margin-bottom: 20px;
	font-size: 25px;
	color: #37393f;
}

.cards__info-text {
	font-family: 'Inter';
	font-size: 18px;
	color: #7d7d7d;
}

.cards__bgr {
	visibility: hidden;
	position: absolute;
	z-index: 15;
	background-color: rgba(107, 119, 229, 0.7);
	min-width: 386px;
	min-height: 532px;
	top: 0;
	left: 0;
}
.link__block {
	margin: 241px 100px;
}
.cards__item--margin {
	margin-right: 31px;
	margin-bottom: 31px;
}
.cards__item--margin:nth-child(3n + 3) {
	margin-right: 0;
}
.link__item:not(:last-child) {
	margin-right: 13px;
}

.cards__item:hover .cards__bgr {
	visibility: visible;
}

.footer {
	border-top: solid 5px #37393f;
	background-color: rgb(66, 64, 115);
}
.footer__title {
	text-align: center;
	font-family: 'Poppins';
	font-size: 30px;
}
