@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Inter&family=Poppins:wght@600&display=swap');

h1 {
	text-align: center;
	font-size: 50px;
	text-shadow: 5px 5px 2px rgb(136, 136, 136);
	font-weight: 700;
	margin-bottom: 30px;
}

.consulting {
	max-width: 715px;
	margin: 0 auto;
}

.photo {
	width: 715px;
	height: 477px;
	margin-bottom: 37px;
}

.title {
	color: #37393f;
	font-family: 'Poppins', sans-serif;
	font-size: 30px;
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: 13px;
}

.consulting p {
	color: #7d7d7d;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	line-height: 1.4;
}

.sub-title {
	color: #6b77e5;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
	margin: 42px 0 12px 0;
}

.notebook {
	max-width: 330px;
}

.benefits {
	margin: 40px auto 0;
}

.benefits-text {
	display: inline-block;
	max-width: 332px;
	margin-left: 29px;
}

.benefits li {
	color: #7d7d7d;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	margin-bottom: 30px;
}

.benefits-text h3 {
	color: #37393f;
	font-family: 'Poppins', sans-serif;
	font-size: 25px;
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: 15px;
}

.benefits-text h4 {
	color: #40ddb6;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.2;
	margin-bottom: 21px;
}

.jewellery {
	background-color: #fff9f4;
}

.jewellery-block {
	max-width: 1169px;
	margin: 0 auto;
}

.jewellery-text {
	max-width: 563px;
	display: inline-block;
	margin-right: 38px;
}

.jewellery-text h3 {
	color: #d06b00;
	font-family: 'Inter', sans-serif;
	font-size: 28px;
	margin: 20px 0 13px 0;
}

.jewellery-text h2 {
	color: #0e333d;
	font-family: 'DM Serif Text', serif;
	font-size: 59px;
	line-height: 1.4;
	margin-bottom: 25px;
}

.jewellery-text p {
	color: #474747;
	font-family: 'Inter', sans-serif;
	font-size: 20px;
	line-height: 1.8;
}

.footer-title {
	text-align: center;
	margin: 20px;
	text-shadow: 2px 3px 4px rgb(245, 0, 204);
	font-size: 20px;
}
